@model Projet2_Archivage.Models.ListeNotesViewModel
@{
    ViewData["Title"] = "InsererNotes";
    Layout = "~/Views/Shared/_myLayout.cshtml";

}


@{
    Enseignant enseign = ViewBag.enseign;
    var liste = ViewBag.liste;
    var note1 = ViewBag.note1;

    var i = 0;
}



<div class="col-lg-12 col-md-12 content-item" style="text-align:left ;background-color:#CAD0FF; height:1000px" data-aos="fade-up" data-aos-delay="10">
    <div class="info d-flex justify-content-center wi" style="border-radius:20px ">
        <div class="section-title  col-lg-12 flxs" style="padding-top:50px">
            <div class="container">
                <div class="row">
                    <partial name="_EspaceEnseignant" model="enseign" />
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <a class="btn btn-primary" asp-action="GinfNotes" style="border-radius:10px; width:250px">Liste étudiants GINF</a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary" asp-action="GgtrNotes" style="border-radius:10px; width:250px">Liste étudiants GTR</a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary" asp-action="GindusNotes" style="border-radius:10px; width:250px">Liste étudiants INDUS</a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary" asp-action="GgpmcNotes" style="border-radius:10px; width:250px">Liste étudiants GPMC</a>
                    </div>
                </div>
                <br />
                <div class="section-title" style="align-content:center">
                    <h2>Notes</h2><br />
                    <p style="font-style:italic; font-weight:bold">
                        Vous trouverez dans le tableau ci-dessous la liste des étudiants pour l'attribution des notes .
                    </p>
                </div>
                <div class="row">

                    @{ if (liste != null && liste.Count != 0)
                        {
                            <form asp-controller="Enseignant" asp-action="Ajouter" method="post" style="width:100%">
                                <table class="table table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col"><i class="fas fa-angle-right"></i> Groupe ID</th>
                                            <th scope="col"> <i class="fas fa-user-tag"></i> CNE</th>
                                            <th scope="col"><i class="fas fa-user"></i> NOM</th>
                                            <th scope="col"><i class="fas fa-user"></i> PRENOM</th>
                                            <th scope="col"><i class="fas fa-envelope"></i> EMAIL</th>
                                            <th scope="col" width="10%"><i class="fas fa-marker"></i> NOTE </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var et in liste)
                                        {
                                            <tr>
                                                <td scope="row">@et.Id_groupe</td>
                                                <td>@et.Cne</td>
                                                <td>@et.Nom</td>
                                                <td>@et.Prenom</td>
                                                <td>@et.Email</td>
                                                <td><input class="form-control" type="text" name="@et.Cne" value="@et.Note" /></td>

                                            </tr>

                                        }

                                    </tbody>
                                </table>

                                <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-check"></i> Valider</button>

                            </form>
                        }
                        else
                        {
                            <div class="alert alert-primary" role="alert" style="margin:auto">
                                Liste vide !!
                            </div>
                        }
                    }

                </div>

            </div>
        </div>
    </div>
</div>




