<table class="table table-striped" style="font-size:12px">
<thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Enseignant</th>
        <th scope="col">Groupe</th>
        <th scope="col">Filière</th>
        <th scope="col">Société</th>
        <th scope="col">Sujet</th>
        <th scope="col">Description</th>
        <th scope="col">Date de disposition</th>
        <th scope="col">Rapport</th>
    </tr>
</thead>
<tbody>
    @{
       int i = 0;
        foreach (var line in Model.listr)
        {
            string str = "Get?id=" + @Model.listr[i];
        <tr>
            <th scope="row">@(i + 1)</th>
            <td>@Model.listenc[i]</td>
            <td>
                <ul style="padding-left:3px">
                    @foreach (var j in Model.liste[i])
                    {
                        <li>@j.nom @j.prenom</li>
                    }
                </ul>
            </td>
            <td>@Model.listf[i]</td>
            <td>@Model.listt[i]</td>
            <td>@Model.lists[i]</td>
            <td>@Model.listd[i]</td>
            <td>@Model.listdt[i]</td>

            <td style="text-align:center">
                @if (Model.listbool[i])
                {
                    <button type="button" class="btn btn-success">
                        <a href=@str title="Ouvrir fichier PDF" style="font-size:20px;color:white"><i class="fas fa-file-download"></i></a>
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-warning" style="font-size:10px;color:white">Pas de rapport</button>
                }

            </td>
        </tr>

            i++;
        }
    }


</tbody>
</table>