
@{
    ViewData["Title"] = "Espace_Etudiant";
    Layout = "~/Views/Shared/_MonLayout.cshtml";
}

<h2>Espace_Etudiant</h2>
@model Projet2_Archivage.Models.Etudiant


<div style="height:800px;width:800px;border-color:black">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" asp-action="connexion" method="post">Espace Etudiant</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-action="Creer_Groupe">Groupe Gestion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-action="Information_De_stage">information de stage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-action="Deconnexion">Deconnexion</a>
        </li>
    </ul>
    <div class="container border mb-2 p-3 border">

        <div style="height:600px;width:600px">


            
                <form>
                    <div class="form-group">
                        <label value="username" class="control-label">prenom</label>
                        <input asp-for="@Model.prenom" class="form-control" readonly />
                        <span asp-validation-for="prenom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label value="username" class="control-label">nom</label>
                        <input asp-for="@Model.nom" class="form-control" readonly />
                        <span asp-validation-for="nom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label value="username" class="control-label">email</label>
                        <input asp-for="@Model.email" class="form-control" readonly />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label value="username" class="control-label">tele</label>
                        <input asp-for="@Model.tel" class="form-control" readonly />
                        <span asp-validation-for="tel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label value="username" class="control-label">cin</label>
                        <input asp-for="@Model.cin" class="form-control" readonly />
                        <span asp-validation-for="cin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label value="username" class="control-label">filiere</label>
                        <input type="text" placeholder="@ViewBag.filiere" class="form-control" readonly />








                    </div>
                </form>
            </div>
        </div>
</div>
