
@{
    ViewData["Title"] = "Espace_Etudiant";
    Layout = "~/Views/Shared/_EtudiantLayout.cshtml";
}

@model Projet2_Archivage.Models.Etudiant


<meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">

<div class="container" data-aos="fade-up" style="padding-top:15px">

    <div class="alert alert-light alert-dismissible fade show" role="alert" style="border-radius:20px">
        Bienvenue <strong>@Model.prenom</strong>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div><br />

<div style="height:1000px;width:800px;border-color:black">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class=" btn btn-primary" asp-action="connexion" method="post" style="border-radius:15px; margin-right:15px; width:170px">Espace etudiant</a>
        </li>

        <li class="nav-item">
            <a class="btn btn-primary" asp-action="Creer_Groupe" style="border-radius:15px; margin-right:15px; width:190px">Gestion du groupe</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary " asp-action="Information_De_stage" style="border-radius:15px; margin-right:15px; width:220px">Information du stage</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary " asp-action="Deconnexion" style="border-radius:15px; width:170px">Deconnexion</a>
        </li>
    </ul><br />
    <div class="container border mb-2 p-3 border">
        <div class="col-lg-12 col-md-12 content-item" style="text-align:left" data-aos="fade-up" data-aos-delay="10">
            <div class="info d-flex justify-content-center wi" style="border-radius:20px ; height:800px;width:800px">
                <div class="section-title  col-lg-10 flxs">
                    <div class="section-title">
                        <h2>Vos Informations personnelles</h2>
                    </div>

                    <form>
                        <div class="form-group">
                            <label value="username" class="control-label" style="font-size:large; font-family:'Arial Rounded MT'">Prenom</label>
                            <input asp-for="@Model.prenom" class="form-control" readonly />
                            <span asp-validation-for="prenom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label value="username" class="control-label" style="font-size:large; font-family:'Arial Rounded MT'">Nom</label>
                            <input asp-for="@Model.nom" class="form-control" readonly />
                            <span asp-validation-for="nom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label value="username" class="control-label" style="font-size:large; font-family:'Arial Rounded MT'">Email</label>
                            <input asp-for="@Model.email" class="form-control" readonly />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label value="username" class="control-label" style="font-size:large; font-family:'Arial Rounded MT'">Numero de telephone</label>
                            <input asp-for="@Model.tel" class="form-control" readonly />
                            <span asp-validation-for="tel" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label value="username" class="control-label" style="font-size:large; font-family:'Arial Rounded MT'">CIN</label>
                            <input asp-for="@Model.cin" class="form-control" readonly />
                            <span asp-validation-for="cin" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label value="username" class="control-label" style="font-size:large; font-family:'Arial Rounded MT'">Filiere</label>
                            <input type="text" placeholder="@ViewBag.filiere" class="form-control" readonly />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>