@using Microsoft.AspNetCore.Http

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/lib/Microsoft.jQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/css/Style2.css" rel="stylesheet" />
<script src="~/fontawesome-free-5.13.0-web/js/all.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<section id="contacto" class="contact blu" style="width:100%;">
    <div class="container"  style="padding-top:15px">
        @{ if (Context.Session.GetString("alerts").Equals("true"))
            {
<<<<<<< HEAD
                <div class="alert alert-light alert-dismissible fade show" role="alert" style="border-radius:20px">
=======
                <div class="alert alert-success alert-dismissible fade show" role="alert">
>>>>>>> 5f418ddaae9dbc8c6b3f5d27036f84f9fa1ca16e
                    Bienvenue <strong>@Model.prenom @Model.nom</strong>.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                Context.Session.SetString("alerts", "false");
            }
        }
    </div>
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="row d-flex justify-content-center">

<<<<<<< HEAD
<<<<<<< HEAD
        <div class="col-lg-3 wd" data-aos="fade-up" style="padding-top:50px">
            <div class="sidenav" style="border-radius: 20px; height:350px">
=======
        <div class="col-lg-3 wd" data-aos="fade-up">
            <div class="sidenav" style="border-radius: 20px;">
>>>>>>> 1dd7147a08f7b432b00b234d04c1405207092c43
=======
        <div class="col-lg-2 wd" data-aos="fade-up">
            <div class="sidenav"  style="border-radius:20px ; height:400px; width:250px">
>>>>>>> 5f418ddaae9dbc8c6b3f5d27036f84f9fa1ca16e
                <a href="~/Admins/Modifier" class="@ViewBag.edit" style="font-family:'Arial Rounded MT'">
                    <i class="far fa-user-circle"></i>
                    @Model.prenom @Model.nom
                </a>

<<<<<<< HEAD
                <a href="~/Admins/Importation" class="@ViewBag.import"  style="font-family:'Arial Rounded MT'">
                    <i class="fas fa-upload"></i>
                    Importation
                </a>
                <a href="~/Admins/Affectation" class="@ViewBag.affect" style="font-family:'Arial Rounded MT'">
                    <i class="fas fa-user-tie"></i>
                    Affectation  des encadrants
                </a>
                <a href="~/Admins/EspaceAdmin" class="@ViewBag.search"  style="font-family:'Arial Rounded MT'">
=======
                <a href="~/Admins/Importation" class="@ViewBag.import" style="font-family:'Arial Rounded MT'">
                    <i class="fas fa-upload"></i>
                    Importation
                </a>
                <a href="~/SuperUser/EspaceSuperUser" class="@ViewBag.affect" style="font-family:'Arial Rounded MT'">
                    <i class="fas fa-user-tie"></i>
                    Affectation  des encadrants
                </a>
                <a href="~/Admins/EspaceAdmin" class="@ViewBag.search" style="font-family:'Arial Rounded MT'">
>>>>>>> 5f418ddaae9dbc8c6b3f5d27036f84f9fa1ca16e
                    <i class="fas fa-search"></i>
                    Recherche
                </a>
                <a href="~/Admins/Deconnexion" class="@ViewBag.deconnect"  style="font-family:'Arial Rounded MT'">
                    <i class="fas fa-sign-out-alt"></i>
                    Déconnexion
                </a>
                <a href="~/Admins/Deconnexion" class="@ViewBag.deconnect" style="font-family:'Arial Rounded MT'">
                    <i class="fas fa-sign-out-alt"></i>
                    Déconnexion
                </a>
            </div>
        </div>

        <div class="col-lg-7" data-aos="fade-up">
            @RenderBody()
        </div>

    </div>
</section>

<!-- ======= Footer ======= -->
<footer id="footer" style="position:relative ;left:0 ;right:0">



    <div class="footer-newsletter">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>ENSAS Archive</h3>
                    <p>
                        Route Sidi Bouzid BP 63 Rue Sidi M'Barek <br>
                        Safi 46000<br>
                        Maroc <br><br>
                        <strong>Phone:</strong> +212 645077445<br>
                        <strong>Email:</strong> ensas@example.com<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Liens utiles</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">A propos</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nos réseaux sociaux</h4><br />

                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>ENSAS Archive</span></strong>. All Rights Reserved
        </div>

    </div>
</footer><!-- End Footer -->
